= form_with(model: @task) do |f|
  .new_state
  = f.label :STATE
  .new_state_field
  = f.select :state, ['todo', 'doing', 'done']
  .new_task
  = f.label :タスク名
  .new_task_field
  = f.text_field :task
  .new_limit
  = f.label :期限
  .new_limit_field
  = f.text_field :limit_date
  .new_submit
  = f.submit