.inner
  %h1.title TASK LIST
  = link_to 'Create New Task', new_task_path, {class: 'create-task__button'}
  %table.create-task__table
    %thead
      %tr
        %th
          STATE
        %th
          タスク名
        %th
          期限
        %th
          編集
        %th
          削除
        %th
          更新日

    %tbody
      - @tasks.each do |task|
        %tr
          %td
            = task.state
          %td
            = task.task
          %td
            = task.limit_date
          %td
            = link_to image_tag("edit.svg", size:'30'), edit_task_path(task)
          %td
            = link_to image_tag("delete.svg", size:'30'), task_path(task), method: :delete
          %td
            = task.updated_at.strftime("%Y-%m-%d %H:%M")
